{% extends 'BackBundle:Default:backLayout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/backJuryStyle.css') }}">
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-6 text-center lienjury">
            <a  href="{{ path('agenda_labo_index') }}">Créer un événement ISIPCA</a>
        </div>
        <div class="col-md-6 text-center lienjury">
            <a  href="{{ path('index') }}">Retour au site</a>
        </div>
    </div>
{% endblock %}