{% extends 'BackBundle:Default:backLayout.html.twig' %}

{% block content %}
    <a class="linkNavAdmin" href="{{ path('agenda_labo_index') }}">Créer un évenement</a>
    <a class="pull-right" href="{{ path('index') }}">Retour au site</a>
{% endblock %}