{% extends 'BackBundle:Default:backLayout.html.twig' %}

{% block content %}
    <a class="linkNavAdmin" href="{{ path('candidat_index') }}">Voir la liste des candidats</a>
    <a class="pull-right" href="{{ path('index') }}">Retour au site</a>
{% endblock %}