{% extends 'BackBundle:Default:backLayout.html.twig' %}

{% block content %}
    <a class="linkNavAdmin" href="{{ path('partenaire_new') }}">Créer son profil de partenaire</a>
    <a class="pull-right" href="{{ path('index') }}">Retour au site</a>
{% endblock %}