 <header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-offset-4 col-xs-4">
                <img src="{{ asset('images/new-logo-corpo.png') }}" class="img-responsive center-block logoHeader" alt="Logo Corpo35">
            </div>
        </div>
    </div>
 </header>

