 <header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-offset-4 col-xs-4">
                <a href="{{ path('index') }}"><img src="{{ asset('images/CORPO35_LOGOTYPE.png') }}" class="img-responsive center-block logoHeader" alt="Logo Corpo35"></a>
            </div>
        </div>
    </div>
 </header>

