{% extends 'BackBundle:Default:backLayout.html.twig' %}

{% block content %}
    <div class="row">
        <div class=" col-md-6 text-center">
            <a  href="{{ path('candidat_index') }}">Voir la liste des candidats</a>
        </div>
        <div class="col-md-6 text-center">
            <a  href="{{ path('index') }}">Retour au site</a>
        </div>
    </div>
{% endblock %}