{% extends 'BackBundle:Default:backLayout.html.twig' %}
{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/backIndexStyle.css') }}">
{% endblock %}

{% block backContent %}

   <h2 class="text-center">Bienvenue sur votre page d'administration</h2>
{% endblock %}