{% extends 'BackBundle:Default:backLayout.html.twig' %}

{% block content %}
<div class="container">
        <form class="well">
            <h2 class="text-center">Créer un nouveau candidat</h2>
            {{ form_start(form, {'method' : 'POST'}) }}
            {{ form_widget(form) }}
            <div class="row">
                <div class="col-xs-6">
                    <input type="submit" value="Créer" class="btn-primary btn-lg center-block"/>
                </div>
                <div class="col-xs-6">
                    <a href="{{ path('backIndex') }}">
                        <input type="button" class="btn-danger btn-lg center-block" value="Retour">
                    </a>
                </div>
            </div>
            {{ form_end(form) }}
        </form>
</div>
{% endblock %}