
{% block body %}

    {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <a href="http://91.134.241.72/Corpo35/fr/"><h1>Corpo35</h1></a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <h2 class="title_mail">Bonjour,</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p>Félicitation, votre candidature à été retenue pour le concours Corpo35. Nos prendrons contact avec vous pour la prochaine étape du concours.</p>

                    <p>Cordialement, <br/><br/>
                        Les jurés de Corpo35.
                    </p>
                </div>
            </div>
            <div class="row">
                <blockquote class="col-xs-12">Ce mail vous a été envoyé automatiquement. Merci de ne pas y répondre</blockquote>
            </div>
        </div>
    {% endblock %}

{% endblock %}