.profilePicShow {
    height: 500%;
}

.attention {
    color: red;
}

.ombre {
    margin: 2%;
    padding: 2%;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.3);
}

.ombre:hover {
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.8);
}

.buttonAdmin {
}

.linkMisEnAvant {
    color: black;
}

.linkMisEnAvant:hover {
    color: black;
}


.btn-reglement {
    color:black;
    border:1px solid black;
    height:40px;
    background-color:transparent;
    transition: all 0.8s ease-out;
    margin-top:40px;
    margin-bottom:5vh
}

.btn-reglement:hover{
    text-decoration: none;
    color:#fff;
    border:1px solid #fff;
    height:40px;
    background-color:black;
}