.profilePicShow {
    height: 500%;
}

.ombre {
    margin: 2%;
    padding: 2%;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.3);
}

.ombre:hover {
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.8);
}

.buttonAdmin {
    padding-bottom: 5%;
}

.linkMisEnAvant {
    color: black;
}

.linkMisEnAvant:hover {
    color: black;
}

