.candidat {
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.6);
}

.candidat:hover {
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,1);
}

.photoProfil{
    width: 200%;
    -webkit-filter: grayscale(200%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding-bottom: 10vh;
}

.photoProfil:hover {
    -webkit-filter: grayscale(0%);
}


.nomPrenom {
    position: absolute;
    margin: auto;
    left: 45%;
    z-index: 1;
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Playfair Display', serif;
    font-size: 400%;
    font-weight: 900;
    color: black;
}

.profession {
    margin-top: 20%;
    margin-left: 5%
;
}

.presentation {
    margin-top: 10%;
    margin-left: 5%;
}

.motivation {
    margin-top: 5%;
}

.motivationTitre {
    font-weight: bold;
}

.logoPageVitrine {
    width: 80%;
}

.separeLogo {
    margin-top: 40%;
    height: 1px;
    width: 50%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
}

@media screen and (max-width: 1200px ) {
    .nomPrenom {
        position: relative;
        text-align: center;
        margin: auto;
        left: auto;
        z-index: 1;
        /*font-family: 'Montserrat', sans-serif;*/
        font-family: 'Playfair Display', serif;
        font-size: 400%;
        font-weight: 900;
        color: black;
    }

    .profession {
        margin-top: 0;
        margin-left: 5%;
    }
}