* {
    margin: 0;
    padding: 0;
}
h1{
    display: inline-block;
}
.title {
    color:white;
   padding: 30px;

}
a:hover{
    color: rgb(190,190,190);
}
h1{
    background-color: rgba(255, 255, 255, 1)!important;
    margin: 0;
    padding: 0;
    width: 100%;
    position: sticky;
    top: 18%;
    z-index: 4;
}
h2{
    margin-bottom: .4em;
    padding: 0;
    font-size: 1.6em;
}
.titre-concours{
    font-size: 1.4em;
}
div.text-concours+div.text-concours{
    margin-top: 0;
}
article{
    padding: 30px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    margin: 0;
}
li {
    list-style-type:none;
    margin: 0;
    padding: 0;
}

div.text-concours {
    text-align: justify;
    margin: 0;
    padding: 0;
}
