* {
    margin: 0;
    padding: 0;
}
h1{
    display: inline-block;
    font-size: 2em;
}
.title-concours-first{
    margin: 0;
    padding: 0;
}
.title-concours {
    color: black;
}
a:hover{
    color: rgb(190,190,190);
}
section{
    padding: 40px;
}
.wrap{
    -webkit-columns: 300px;
    -moz-columns: 300px;
    columns: 300px;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
    margin: 0;
    padding: 0;
}
h2{
    color: black;
    margin-bottom: .4em;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0;
}
div.text-concours+div.text-concours{
    margin-top: 0;
}
article{
    padding: 30px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    margin: 0;
}
article+article{
    margin: 20px 0;
}

li {
    list-style-type:none;
    margin: 0;
    padding: 0;
}

div.text-concours {
    text-align: justify;
    margin: 0;
    padding: 0;
}