body{
    font-family: 'Raleway', sans-serif;
}
h1{
    margin:30px;
    font-size: 10px;
}
.form {
    margin-bottom: 5vh;
}
.contact-form{
    width:600px;margin:0 auto;
}

.contact-form .form-control{
    border:none;
    box-shadow:none;
    border-radius:0;
    border-bottom: 1px solid black;
    transition: 1s ease;
    font-weight: bold;
}
.contact-form .form-control:focus{
    transition: 1s ease;
    border-bottom: 1px solid black;
}
.contact-main  .contact-main-title h2{
    margin-top:0;
}

.contact-form .send-msg{
    color:black;
    border:1px solid black;
    height:40px;
    background-color:transparent;
    transition: all 0.8s ease-out;
    margin-top:40px;
    margin-bottom:5vh;
}

.contact-form .send-msg:hover{
    color:#fff;
    border:1px solid #fff;
    height:40px;
    background-color:black;
}