@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../fonts/Montserrat-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url(../fonts/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Playfair Display-Black';
    src: url(../fonts/PlayfairDisplay-Black.ttf) format('truetype');
}

@font-face {
    font-family: 'Playfair Display-BlackItalic';
    src: url(../fonts/PlayfairDisplay-BlackItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Playfair Display-Bold';
    src: url(../fonts/PlayfairDisplay-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Playfair Display-BoldItalic';
    src: url(../fonts/PlayfairDisplay-BoldItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Playfair Display-Italic';
    src: url(../fonts/PlayfairDisplay-Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'Playfair Display-Regular';
    src: url(../fonts/PlayfairDisplay-Regular.ttf) format('truetype');
}