.footer{
    padding: 3vh 0 3vh 0;
}
.underline {
    text-decoration: underline;
}

.liModal {
    list-style: square;
}

.footertext{
    border-right: 1px solid black;
}

.footer{

    background-color: white;
    position:relative;
    margin: 0 auto;
}

.borderfooterleft{
    border-left: 1px solid black;
}

.lienfooter{
    text-decoration: none;
    color: black;
    font-size: 90%;
}

.lienfooter:hover{
    color: black;
}
