.footer{
    margin-top: 20px;
    margin-bottom: 20px;
}
.onglet-footer{
    border-right: 1px solid black;
}
.lienfooter:hover{
    color: black;
}

@media (max-width: 900px) {
    .onglet-footer {
        border-right: none;
    }
    .footer{
        border-top: 1px solid lightgrey;
        padding-top: 15px;

    }
}