p {
    font-family: 'Playfair Display-Regular',Serif;
    color: black;
}

h1, h2, h3, h4, h5, h6, li, a {
    font-family: 'Montserrat', serif; !important;
    color: black;
}

li {
    font-family: 'Playfair Display-Regular', serif;
    color: black;
}

a {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

a:hover {
    color: black;
}

*{
    margin: 0;
}

@media screen and (max-width: 600px) {
    .container.reglement {
        margin: 10px;
    }
    h2{
        font-size: 1.5em;
    }
    h3{
        font-size: 1.4em;
    }

    h4{
        font-size: 1.2em;
    }
    p{
        font-size: 1em;
    }
}