.navbar-inverse {
    height: 5%!important;
}

.linkNavbar {
    color: white!important;
    font-size: 90%;
}

.linkNavbar:hover {
    color: white!important;
}

.logoHeader {
    width: 50%;
    margin-top: 20%;
    margin-bottom: 5%;
}

.logoHeaderResponsive {
    width: 20%;
}

.navbar-default {
    background-color: rgba(255, 255, 255, 1)!important;
    border-style: none!important;
}

.nav2 {
    margin: 0;
    padding: 0;
    width: 100%;
    position: sticky;
    top: 7%;
    z-index: 5;
}

.borderNavbar2 {
    border-right: solid 1px black;
}

.Navbar2 {
    margin-top: 2%;
}

.linkNavbar2 {
    color: black;
}

.linkNavbar2:hover {
    color: black;
}

.linkNavbar2:focus {
    color: black;
}

.langues{
    margin-top: 18px;
    font-size:11px;

}
.police{
    font-size:11px;
}
a.nounderline{
    text-decoration: none;
}
a.nounderline:hover{
    cursor:  pointer;
}