.titreForm {
    text-decoration: underline;
}

.form {
    width: 40%;
    margin: auto;
    text-align: center;
    padding: 1%;
}

.linkRegister {
    font-size: 150%;
}

.attention {
    color: red;
}

li {
    list-style: none;
}

.separe {
    height: 1px;
    width: 50%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}