.inscription{
    margin-top: 50px;

}

.titreForm {
   padding-bottom: 10px;
}

.form {
    width: 50%;
    text-align: center;
    padding: 1%;
    margin: 0 auto;
}
.form-group{
    margin-top: 0px;
}

.linkRegister {
    font-size: 150%;
}

.attention {
    color: red;
    font-weight: bold;
}

li {
    list-style: none;
}

.separe {
    height: 1px;
    width: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin: 0 auto;
}

/*.bouton {*/
    /*margin-bottom: 5%;*/
/*}*/

.creer {
    font-weight: bold;
    margin-bottom: 100px;
}