th {
    cursor: pointer;
}

.blockCandidat {
    padding-bottom: 1%;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.3);

}

.recherche {
    margin-bottom: 5%;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.3);
}

.recherche:hover {
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.8);
}

.btnRecherche {
    margin-top: 2%;
    margin-bottom: 2%;
}

.linkCandidat {
    font-style: normal;
}

.linkBackListcandidat {
    color: black;
}

.linkBackListcandidat:hover {
    color: black;
}

.linkMisEnAvant {
    color:black;
    border:1px solid black;
    height:40px;
    background-color:transparent;
    transition: all 0.8s ease-out;
}

.linkMisEnAvant:hover {
    text-decoration: none;
    color:#fff;
    border:1px solid #fff;
    height:40px;
    background-color:black;
}

.linkMisEnAvant1 {
    color:black;
    border:1px solid black;
    height:40px;
    background-color:transparent;
    transition: all 0.8s ease-out;
    margin-top:40px;
    margin-bottom:5vh
}

.linkMisEnAvant1:hover {
    text-decoration: none;
    color:#fff;
    border:1px solid #fff;
    height:40px;
    background-color:black;
}

.blockCandidat:hover {
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.8);
}

.linkBackListcandidat {
    text-align: right;
    color: black;
}

.photoCandidat {
    width: 50%;
}

.linkCandidat {
    color: inherit;
}

.linkCandidat:hover {
    color: inherit;
    text-decoration: none;
}