.at-section__title {
    margin: 0 0 20px;
    color: #000;
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    font-weight: 300;
    line-height: 2.625rem;
    text-align: center;
}
.content-partner{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.at-grid {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 30px;
}

.at-grid[data-column="3"] .at-column {
    width: 100%;
    max-width: 33.33333%;
    min-width: 33.33333%;
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
}

.at-column {
    position: relative;
    background: #FFF;
    box-shadow: 0 0 0 1px #E2E9ED;
    padding-top: 0;
    box-sizing: border-box;
    -webkit-transition: box-shadow 0.2s ease, -webkit-transform 0.2s ease;
    transition: box-shadow 0.2s ease, -webkit-transform 0.2s ease;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
    transition: box-shadow 0.2s ease, transform 0.2s ease, -webkit-transform 0.2s ease;
    height: 200px;

}
.at-column:before {
    content: "";
    display: block;
    padding-top: 100%;
}
.at-column:hover {
    z-index: 1;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

@media (max-width: 800px) {
    .at-column {
        width: 50% !important;
        max-width: 50% !important;
        min-width: 50% !important;
        -ms-flex-preferred-size: 50% !important;
        flex-basis: 50% !important;

    }
}
@media (max-width: 600px) {
    .at-column {
        width: 100% !important;
        max-width: 100% !important;
        min-width: 100% !important;
        -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
    }
}
.at-partner {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
}
.at-partner__logo {
    width: 40%;
    margin: 0 auto;

}
.at-partner__logo img {
    display: block;
    width: 100%;

}

.container .partenaire {
    width: 100%;
    box-sizing: border-box;
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);

}















