.partner {
    margin-top: 100px;
    margin-bottom: 100px;
}
.img{

   
}

h1{
    font-size:4em;
    text-align: center;
}
.title{
    color: black;
    border-top: 1px solid lightgrey;

}
.partner-body{
    border-top:1px lightgrey solid;
}
.partner-content{
    padding: 10px 0px 10px 0px;
}
.row .contact{
    border-top: 1px lightgrey solid;
    padding: 10px 0px 10px 0px;

}
.contact{
    text-align: center;
}
.resume{
    text-align: center;

}
.lead{
    text-align: center;
}
p{

}


@media screen and (max-width:1198px){
    body{
        margin:5px;
        padding:5px;
    }
}
h3{
    text-align: center;
}
h3 {
    font: 33px sans-serif;
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
}
h3.background {
    position: relative;
    z-index: 1;
}
h3.background:before {
    content: "";
    margin: 0 auto;
    /* this centers the line to the full width specified */
    position: absolute;
    /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1;
}
h3.background span {
    /* to hide the lines from behind the text, you have to set the background color the same as the container */
    background: #fff;
    padding: 0 15px;
}
h3.double:before {
    /* this is just to undo the :before styling from above */
    border-top: none;
}
h3.double:after {
    border-bottom: 1px solid lightgrey;
    -webkit-box-shadow: 0 1px 0 0 red;
    -moz-box-shadow: 0 1px 0 0 red;
    box-shadow: 0 1px 0 0 red;
    content: "";
    margin: 0 auto;
    /* this centers the line to the full width specified */
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    width: 95%;
    z-index: -1;
}
h3.no-background {
    position: relative;
    overflow: hidden;
}
h3.no-background span {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    position: relative;
    padding: 0 20px;
}
h3.no-background span:before,
h3.no-background span:after {
    content: '';
    display: block;
    width: 1000px;
    position: absolute;
    top: 0.73em;
    border-top: 1px solid lightgrey;
}
h3.no-background span:before {
    right: 100%;
}
h3.no-background span:after {
    left: 100%;
}
h3.no-span {
    display: table;
    white-space: nowrap;
}
h3.no-span:before,
h3.no-span:after {
    border-top: 1px solid green;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 45%;
}
h3.no-span:before {
    right: 1.5%;
}
h3.no-span:after {
    left: 1.5%;
}

@media (max-width: 800px) {
    .img {
        width: 100% !important;
        margin: 0 auto;
    }
    h1{
        padding: 0;
        font-size: 2em;
        margin: 0 auto;
    }

}
@media (max-width: 600px) {
    .partner-content{
        text-align: left;
        font-size: 1em;
        margin: 0;
        padding: 0;
    }
    h1{
        font-size: 2em;
        margin: 0;
    }
    .partner-contact{

    }
}