{% extends '::base.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

    {% block content %}
        <div class="container">
            <div class="title-login">
                <h2 style="font-size: 25px; font-family: Montserrat-Regular, Serif" class="text-center">CORPO 35 - IDENTIFICATION</h2>
            </div>
            <div class="row logo-admin">
                <a href="{{ path('index') }}"><img src="{{ asset('images/CORPO35_LOGOTYPE.png') }}" class="img img-responsive" alt="logo Corpo 35"></a>
            </div>
        </div>

        <div style="font-family: Montserrat-Regular,Serif" class="container form-login">
            <div class="col-md-offset-2">
        {% block fos_user_content %}

        {% endblock fos_user_content %}
            </div>
        </div>
    {% endblock %}