{% extends '::base.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

    {% block content %}
        <div class="container">
            <div class="title-login">
                <h2 style="font-size: 25px" class="text-center">CORPO 35 - IDENTIFICATION</h2>
            </div>
            <div class="row logo-admin">
                <img src="{{ asset('images/logocorpo.png') }}" class="img img-responsive" alt="logo Corpo 35">
            </div>
        </div>

        <div class="container form-login">
            <div class="col-md-offset-2">
        {% block fos_user_content %}

        {% endblock fos_user_content %}
            </div>
        </div>
    {% endblock %}