{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/agenda_labo_style.css') }}">
{% endblock %}


{% block content %}

    <div class="container agenda_labo">
        <h2 class="title_agenda_labo"><span>Agenda EVENEMENT</span></h2>
        <div class="row">
            <div class="col-md-4 laboratory">
                <div class="laboratory">
                    <h3 class="">ISIPCA</h3>
                    <p>34-36 Rue du Parc de Clagny</p>
                    <p>78000 Versailles</p>
                    <p><i class="fa fa-paper-plane-o" aria-hidden="true"></i></p>
                    <p><i class="fa fa-phone" aria-hidden="true"></i> 01 39 23 70 00</p>
                </div>
            </div>
            <div class="col-md-8">
                <img class="img-responsive img_agenda_labo" src="{{ asset('images/isipca_agenda.jpg') }}" alt="image Isipca bâtiments"/>
            </div>
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr >
                        <div class="col-md-4">
                            <th class="th">DATE</th>
                        </div>
                        <div class="col-md-4">
                            <th class="th">LIEU</th>
                        </div>
                        <div class="col-md-4">
                            <th class="th">TITRE</th>
                        </div>
                        <div class="col-md-4">
                            <th class="th">DESCRIPTION</th>
                        </div>
                    </tr>
                    </thead>
                    </table>
            </div>
        </div>
    </div>


{% endblock %}