{% extends 'FrontBundle:Default:layout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/candidatEnAvant_style.css') }}">
{% endblock %}

{% block content %}
    <section>
        <div>
            <h1 class="text-center "> Candidat mis avant</h1>
            <p>
            {{ candidat.prenom }}
            {{ candidat.nom }}
            

            </p>
        </div>
    </section>
{% endblock %}
