
<section>
    <h1>PRESENTATION CONCOURS</h1>
    <div class="container">
        <div class="wrap">
            <article>
                <h3>Pourquoi ce concours ?</h3>
                <p>Le secteur de la haute parfumerie, tout comme celui de la gastronomie, voit émerger des talents au nom souvent
                peu connu du grand public et dont les créations sont de toute beauté.
                La parfumerie d'art (Maisons historiques constitutives de la parfumerie moderne, marques de niche et de créateurs,
                collections exclusives des grands couturieurs et joailliers) est mal connue en France et n'est pas aussi diffusée que
                dans d'autres pays du monde à la pointe dans ce secteur, tels que l'Italie, la Grande Bretagne, les pays de l'Est
                européen, la Russie, l'Ukraine, les Etats Unis, le Moyen Orient. Elle y rencontre pourtant un vif succès en répondant
                tout à la fois aux attentes culturelles et affectives des amateurs de parfums; qu'aux exigences qualitatives et
                artistiques d'un marché en plein essor.
                La france riche de son savoir-faire, représente, à elle seule, plus de la moitié des marques présentes sur le marché de
                la parfumerie rare.
                Ce concours a pour vocation de faire connaître au grand public des parfums rares et inédits, issus de matières premières
                nobles.
                À l'initiative du "35 Rue Damiette", l'ISIPCA, Coptis, IFF, Au Parfum, Saverglass, soutiennent ce concours.</p>
            </article>

            <article>
                <h3>Pour quel type de concourants ?</h3>
                <p>Le concours est ouvert à toute personne sachant composer un parfum et capable de rédiger une formule. Le Logiciel Coptis LAB,
                sera mis à disposition de chacun des 35 candidats sélectionnés à participer au concours.
                Une session de formation est incluse dans le programme offert aux candidats.
                Le comité de pilotage constitué des professionnels partenaires, étudira chaque candidature déposée sur le site
                internet et retiendra 35 candidats par session, et donc par année.
                Les critères discriminantes seront le parcours, l'expérience et la motivation de chaque candidat.

                Le sourcing des candidats pourra émaner des différentes catégories ci-dessous (non-exhaustive):</p> <br/>
                <ul>
                    <li>Écoles et universités (chimie, parfumerie).</li>
                    <li>Maisons de créations.</li>
                    <li>Secteur des arômes et des fragrances.</li>
                    <li>Producteurs d'ingrédients et de matières premières.</li>
                    <li>Les marques.</li>
                    <li>Parfumeurs indépendants.</li>
                    <li>Autodidactes.</li>
                    <li>Distributeurs.</li>
                </ul>
            </article>

            <article>
                <h3>La journée d'intégration.</h3>
                <p>La journée d'intégration au concours Corpo 35 à l'ISIPCA, a comme objectif de favoriser les échanges entre les
                candidats et les professionnels et de lancer le compte à rebours des 6 mois de création.
                Il y aura donc lors de cette journée :</p> <br />
                <ul>
                    <li>Rappel du règlement et du cadre du concours : cession des droits d'auteur, présentation quelque soit
                    la forme du processus créatif retenu par chaque candidat.</li>
                    <li>La présentation des locaux de l'ISIPCA : en particulier les paillasses des laboratoires mises à disposition
                    des 35 candidats pour effectuer les pesées si nécessaire.</li>
                    <li>Conférence d'IFF sur les matières premières constituant l'orgue défini pour réaliser la création.</li>
                    <li>Remise de l'orgue à parfums offert par IFF à chaque candidats comme bases de la création attendue.</li>
                    <li>Présentation et initiation du logiciel Coptis LAB, logiciel d'aide à la rédaction de formules.</li>
                    <li>Un portrait et une interview réalisés pour chaque candidat afin de valoriser son profil.</li>
                </ul>
            </article>
        </div>
    </div>
</section>
