
{% extends 'FrontBundle:Default:structure.html.twig' %}


{% block stylesheet %}
<link rel="stylesheet" href="{{ asset('footerstyle.css') }}">
{% endblock %}


{% block footer %}
<footer>
    <div class>
ddf
    </div>
</footer>

{% endblock %}