{% extends 'FrontBundle:Default:layout.html.twig' %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/headerStyle.css') }}">
{% endblock %}

{% block header %}
    <!-- Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>


            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#"><i class="fa fa-envelope-o fa-1x" aria-hidden="true"></i> Contact</a></li>
                    <li><a href="#"><i class="fa fa-handshake-o fa-1x" aria-hidden="true"></i> Partenaires</a></li>
                    <li><a href="#"><i class="fa fa-newspaper-o fa-1x" aria-hidden="true"></i> La revue de presse</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="fa fa-user fa-1x" aria-hidden="true"></i> Mon compte</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <header>
        <div class="col-offset-xs-6 col-xs-6">
            <img src="{{ asset('images/logocorpo.png') }}" alt="logo Corpo 35" class="">
        </div>
    </header>
{% endblock %}