{% extends 'FrontBundle:Default:index.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('css/inscriptionstyle.css') }}">
{% endblock %}

{% block content %}
    <div class=" container-fluid well">
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <div class="text-center">
                    <h2>Bienvenue sur la page d'inscription au concours Corpo35</h2>
                   <p> le <a href="{{ path('reglement') }}">règlement du concours</a> est à télécharger, signer et à nous renvoyer</p>
                </div>
                <form METHOD=POST ENCTYPE="text/plain" >
                        <div class="form-group">
                            <label for="Nom">Nom</label>
                            <input type="text" class="form-control" id="Nom" placeholder="Nom" required="required">
                        </div>
                        <div class="form-group">
                            <label for="Prenom">Prenom</label>
                            <input type="text" class="form-control" id="Prenom" placeholder="Prenom" required="required">
                        </div>
                        <div class="form-group">
                            <label for="date_naissance">Date de naissance</label>
                            <input type="datetime" class="form-control" id="date_naissance" placeholder="date de naissance" required="required">
                        </div>
                        <div class="form-group">
                            <label for="N°">N° de rue</label>
                            <input type="number" class="form-control" id="N°" placeholder="N° de rue" required="required">
                        </div>
                        <div class="form-group">
                            <label for="Adresse">Adresse</label>
                            <input type="text" class="form-control" id="Adresse" placeholder="Adresse" required="required">
                        </div>
                        <div class="form-group">
                            <label for="Ville">Ville</label>
                            <input type="text" class="form-control" id="Ville" placeholder="Ville" required="required">
                        </div>
                        <div class="form-group">
                            <label for="Code_Postal">Code Postal</label>
                            <input type="number" class="form-control" id="Code_Postal" placeholder="Code Postal" required="required">
                        </div>
                        <div class="form-group">
                            <label for="Formation">Formation</label>
                            <input type="text" class="form-control" id="Formation" placeholder="Formation" required="required">
                        </div>
                        <div class="form-group">
                            <label for="Diplome">Diplômes dans le secteur de la parfumerie</label>
                            <input type="text" class="form-control" id="Diplome" placeholder="Diplôme" >
                        </div>
                        <div class="form-group">
                            <label for="Profession">Profession (Etudiant) si vous êtes en études</label>
                            <input type="text" class="form-control" id="Ville" placeholder="Ville" required="required">
                        </div>
                        <div class="form-group">
                            <label for="telephone">N° de téléphone</label>
                            <input type="number" class="form-control" id="telephone" placeholder="N° de téléphone" required="required">
                        </div>
                        <div class="form-group">
                            <label for="Blog">Blog, Site, Autres</label>
                            <input type="text" class="form-control" id="Blog" placeholder="Blog, Site, Autres..." >
                        </div>
                        <div class="form-group">
                            <label for="Présentation">Présentation</label>
                            <textarea class="form-control" id="Présentation" rows="7"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="E-mail">E-Mail</label>
                            <input type="email" class="form-control" id="E-mail" placeholder="E-mail" required="required">
                        </div>
                        <div class="form-group">
                            <label for="Photo">Photographie</label>
                            <input type="file" id="Photo">
                            <p class="help-block">Mettez une photographie de vous !</p>
                        </div>
                        <div class="form-group">
                            <label for="CV">CV</label>
                            <input type="file" id="CV">
                            <p class="help-block">Merci de nous envoyer votre CV</p>
                        </div>
                        <button type="submit" class="btn btn-default">Envoyer</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

