{% extends 'FrontBundle:Default:layout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/laureats.css') }}">
    <script src="dist/html5shiv.js"></script>
{% endblock %}

{% block header %}
    {% include 'FrontBundle:Default:header.html.twig' %}
{% endblock %}

{% block content %}

    <body>

    <div class="container">
        <div id="gallery row clearfix">

            <div class="gallery-item"><img src="http://placehold.it/200x200.png&text=Katell Plisson" alt="gallery image six" /></div>
            <div class="gallery-item"><img src="http://placehold.it/200x200.png&text=Juliette Dubois Espinasse" alt="gallery image six" /></div>
            <div class="gallery-item"><img src="http://placehold.it/200x200.png&text=Ugo Charron6" alt="gallery image six" /></div>
            <div class="gallery-item"><img src="http://placehold.it/200x200.png&text=Julie Mortreuil" alt="gallery image six" /></div>
            <div class="gallery-item"><img src="http://placehold.it/200x200.png&text=Ismahen Kahoul" alt="gallery image six" /></div>
            <div class="gallery-item"><img src="http://placehold.it/200x200.png&text=Jean-Baptiste Darrouzel" alt="gallery image six" /></div>
            <div class="gallery-item"><img src="http://placehold.it/200x200.png&text=Xavier Biaizot" alt="gallery image six" /></div>
            <div class="gallery-item"><img src="http://placehold.it/200x200.png&text=Pierre Benard" alt="gallery image six" /></div>
            <div class="gallery-item"><img src="http://placehold.it/200x200.png&text=Florian Gallo" alt="gallery image six" /></div>
            <div class="gallery-item"><img src="http://placehold.it/200x200.png&text=Flora Gourdon" alt="gallery image six" /></div>
            <div class="gallery-item"><img src="http://placehold.it/200x200.png&text=Marie Van de Zande" alt="gallery image six" /></div>
            <div class="gallery-item"><img src="http://placehold.it/200x200.png&text=Frédérick Lagarde-Marin" alt="gallery image six" /></div>
            <div class="gallery-item"><img src="http://placehold.it/200x200.png&text=Adeline Monediere" alt="gallery image six" /></div>
            <div class="gallery-item"><img src="http://placehold.it/200x200.png&text=Eléonore de Staël" alt="gallery image six" /></div>
            <div class="gallery-item"><img src="http://placehold.it/200x200.png&text=Sabah Dihmane" alt="gallery image six" /></div>
            <div class="gallery-item"><img src="http://placehold.it/200x200.png&text=Fatiha Ouchen" alt="gallery image six" /></div>
            <div class="gallery-item"><img src="http://placehold.it/200x200.png&text=Vincent Médran-Navarrete" alt="gallery image six" /></div>
            <div class="gallery-item"><img src="http://placehold.it/200x200.png&text=Bérénice Watteau" alt="gallery image six" /></div>
            <div class="gallery-item"><img src="http://placehold.it/200x200.png&text=Delphine Dentraygues" alt="gallery image six" /></div>
            <div class="gallery-item"><img src="http://placehold.it/200x200.png&text=Lucie Vienot" alt="gallery image six" /></div>
            <div class="gallery-item"><img src="http://placehold.it/200x200.png&text=Alban Vauvelle" alt="gallery image six" /></div>
            <div class="gallery-item"><img src="http://placehold.it/200x200.png&text=Wahiba Beloudini" alt="gallery image six" /></div>
            <div class="gallery-item"><img src="http://placehold.it/200x200.png&text=Anne Dussourt" alt="gallery image six" /></div>
            <div class="gallery-item"><img src="http://placehold.it/200x200.png&text=Antoinette Annaloro" alt="gallery image six" /></div>
            <div class="gallery-item"><img src="http://placehold.it/200x200.png&text=Stéphane Deschaintre" alt="gallery image six" /></div>
            <div class="gallery-item"><img src="http://placehold.it/200x200.png&text=Avana Rakotomanana" alt="gallery image six" /></div>
            <div class="gallery-item"><img src="http://placehold.it/200x200.png&text=Ophélien François Guigon" alt="gallery image six" /></div>
            <div class="gallery-item"><img src="http://placehold.it/200x200.png&text=Anatole Lebreton" alt="gallery image six" /></div>
            <div class="gallery-item"><img src="http://placehold.it/200x200.png&text=Mereyem Kheloujani" alt="gallery image six" /></div>
            <div class="gallery-item"><img src="http://placehold.it/200x200.png&text=Tanguy Guesnet" alt="gallery image six" /></div>
            <div class="gallery-item"><img src="http://placehold.it/200x200.png&text=Théo Belmas" alt="gallery image six" /></div>
            <div class="gallery-item"><img src="http://placehold.it/200x200.png&text=Cécile Muller" alt="gallery image six" /></div>
            <div class="gallery-item"><img src="http://placehold.it/200x200.png&text=Romain Eripret" alt="gallery image six" /></div>
            <div class="gallery-item"><img src="http://placehold.it/200x200.png&text=Lucie Barratault" alt="gallery image six" style="font-size: 0.2em" /></div>
            <div class="gallery-item"><img src="http://placehold.it/200x200.png&text=Jacek Laszczynski" alt="gallery image six" /></div>

        </div><!-- /.gllery -->
    </div><!-- /.container -->

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Image from Gallery.</h4>
                    <br/>
                    <nav></nav>
                </div>
                <div class="modal-body clearfix">
                    <h4 class='modal-image-caption'></h4>
                    <img id="modal-image" class="img-responsive" src=""><br/>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    </body>

{% endblock %}

{% block footer %}
    {% include 'FrontBundle:Default:footer.html.twig' %}
{% endblock %}