{% extends 'FrontBundle:Default:layout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/list_logo_style.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
        {% for partenaire in listPartenaires %}

                    <a href="#">
                        <img class="list_logo" src="{{ asset('upload/' ~  partenaire.logo )}}">
                    </a>


        {% endfor %}
        </div>
    </div>
{% endblock %}