{% block content %}
    <div class="container">
        <div class="row">
        {% for partenaire in listPartenaires %}
            <a href="{{ path('list_partenaire') }}"/><img class="list_logo" src="{{ asset('upload/' ~  partenaire.logo )}}"></a>
        {% endfor %}
        </div>
    </div>
{% endblock %}