{% for commentaire in listCommentaires %}
<div class="row">

    <div class="col-md-4">
        <p>{% if commentaire.date %}{{ commentaire.date|date('Y-m-d') }}{% endif %} par {{ commentaire.auteur }}</p>
    </div>
    <div class="col-md-8">
        <p>{{ commentaire.commentaire }}</p>
      </div>

</div>

{% endfor %}

