{% extends 'FrontBundle:Default:layout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/revuedepresse.css') }}">
{% endblock %}


{% block content %}

<div class="container partners">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 content_center">
                <div class="row">
                <h3 style="font-size: 4em" class="text-center">Liste de toutes les promotions.</h3>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-offset-5 col-md-3 content_center">
                    {% for promotion in promotions %}
                        <p style="font-size: 4em" class="center"><a href="{{ path('promotion_annee', {'id':promotion.id})}}">{{ promotion.annee|date('Y') }}</a></p>
                    {% endfor %}
                </div>
            </div>
        </div>
</div>

{% endblock %}
