{% extends 'FrontBundle:Default:layout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link href="{{ asset('css/reglementstyle.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="container header-title">
        <div class="row big-title">
            <h2>RÈGLEMENT DE PARTICIPATION AU CONCOURS CORPO 35</h2>
        </div>
    </div>
    <div class="container">
        <div class="row title">
            <h3>ARTICLE 1 - Objet</h3>
        </div>
        <div class="row text">
            <p>
                Le présent document (ci-après désigné le « Règlement ») a vocation à définir les conditions de participation
                des candidats à un concours organisé par la société C2B - 35 RUE DAMIETTE, société à responsabilité limitée au
                capital social de 10 000,00 €, immatriculée au RCS sous le n°523 858 348, dont le siège social est situé 35,
                rue Damiette - 76000 ROUEN (ladite société étant ci-après désignée « 35 RUE DAMIETTE »).

                Ce concours (ci-après désigné le « Concours CORPO 35 »), organisé à l’initiative de 35 RUE DAMIETTE, avec le
                soutien de l’ISIPCA, COPTIS, IFF, AU PARFUM, ECOMUNDO, WILD CODE SCHOOL, JOVOY, COSMED et SAVERGLASS (ci-après désignés
                les « Partenaires »), a pour vocation de faire connaître au grand public des créateurs de parfums rares.

                Dans le cadre du Concours CORPO 35, il est demandé aux 35 candidats maximum admis à concourir,
                après une phase préalable de sélection sur dossier, de créer une formulation de parfum originale, avec
                les moyens qui seront mis à leur disposition par 35 RUE DAMIETTE et ses Partenaires.

                Cinq « Lauréats des professionnels » et, le cas échéant, si les conditions matérielles d’organisation du
                Concours CORPO 35 le permettent, un « Lauréat du grand public »  seront désignés à l’issue du Concours CORPO 35,
                dont les résultats seront proclamés en juin 2017. Les lauréats se verront décerner leurs trophées à cette occasion.
            </p>
        </div>
        <div class="row title">
            <h3>ARTICLE 2 – Modalités de participation au Concours CORPO 35</h3>
        </div>
        <div class="row text">
            <p>
                Le Concours CORPO 35 est gratuit et ouvert individuellement à toute personne physique intéressée par l’univers
                de la parfumerie, ayant la capacité de formuler des parfums à partir des matières premières naturelles et
                synthétiques qui lui seront remises et ayant le désir de faire découvrir et partager son univers créatif et
                olfactif, sous réserve d’être âgé d’au moins 18 ans et avoir la capacité légale de contracter.



                Pour participer au Concours CORPO 35, le candidat (ci-après désigné le « Candidat ») doit préalablement adresser
                à 35 RUE DAMIETTE un dossier de candidature aux sélections, en remplissant et en validant un formulaire
                d’inscription en ligne, accessible sur le site internet de 35 RUE DAMIETTE, au lien suivant 
                : http://www.35ruedamiette.com/concours-corpo-35/.

                Pour valider son inscription au Concours CORPO 35, le Candidat doit renseigner l’ensemble des informations
                requises par le formulaire d’inscription en ligne et accepter le présent Règlement, en cochant la case prévue
                à cet effet, avant de cliquer sur le bouton « Valider mon inscription ».

                La participation du Candidat au Concours CORPO 35 emporte par conséquent acceptation expresse et sans réserve
                de l’ensemble des dispositions du présent Règlement, que le Candidat déclare avoir pu consulter dans son
                intégralité.

                Les candidatures aux sélections sont ouvertes à partir 15 juin 2016 jusqu’au 30 septembre 2016 inclus. Tout
                dossier de candidature envoyé incomplet par le Candidat et/ou validé par ce dernier après la date de clôture
                susmentionnée pourra être déclaré nul et non avenu par 35 RUE DAMIETTE.

                Le Candidat reconnaît être parfaitement informé du fait que son accord concernant le contenu du présent
                Règlement ne nécessite pas de signature manuscrite, dans la mesure où il valide en ligne son dossier de
                candidature. Conformément à la loi du 13 mars 2000 sur la signature électronique, tout formulaire en ligne
                signé du Candidat par « double clic » constitue une acceptation irrévocable. Le « double clic » associé à la procédure
                d'authentification, de non répudiation et de protection de l'intégrité des messages constitue une signature électronique.
                Cette signature électronique a valeur de signature manuscrite entre les parties.

                Les registres informatisés, conservés dans les systèmes informatiques de 35 RUE DAMIETTE dans des conditions
                raisonnables de sécurité, seront considérés comme les preuves des informations transmises par le Candidat
                dans le cadre de son dossier de candidature et de son acceptation expresse et sans réserve de l’ensemble des
                dispositions du présent Règlement.

                L'archivage des données ainsi collectées par 35 RUE DAMIETTE sera effectué sur un support fiable et durable
                pouvant être juridiquement produit à titre de preuve.

                Le Candidat dispose de la faculté de sauvegarde ou d'édition du présent Règlement, étant précisé que tant la
                sauvegarde que l'édition de ce document relèvent de sa seule responsabilité.
            </p>
        </div>
        <div class="row title">
            <h3>ARTICLE 3 - Déroulement du Concours CORPO 35</h3>
        </div>
        <div class="row text">
            <p>
            <h4>3.1 : Sélection des dossiers de candidature au Concours CORPO 35 :</h4>

            A l’issue d’une première phase d’envoi des dossiers de sélection, ouvertes du 15 juin 2016 jusqu’au 30 septembre 2016 inclus,
            35 dossiers de candidature maximum seront sélectionnés par l’Equipe de Pilotage, composée d’au moins trois personnes,
            parmi lesquels figureront au moins un membre de 35 RUE DAMIETTE (Charles BERRY et/ou Cécile VIALLA), des représentants
            de ses Partenaires et des acteurs significatifs de la filière parfumerie-cosmétique, dans l’objectif d’identifier et
            retenir les profils de Candidats présentant le plus de pertinence avec l’objet du Concours CORPO 35.

            La sélection des 35 Candidats admis à concourir dans le cadre de la création d’une formulation de parfum originale
            sera réalisée par l’Equipe de Pilotage en tenant compte des critères suivants : parcours académique, connaissances
            et expérience du Candidat dans le domaine de la parfumerie, capacité de formuler des parfums à partir des matières
            premières naturelles et synthétiques qui lui seront remises, faculté de présentation de son profil par le Candidat,
            motivations du Candidat. Aucun de ces critères ne dispose d’un caractère décisif ou rédhibitoire par rapport aux autres,
            à l’exception de la capacité à formuler des parfums, appréciée par rapport au parcours académique, professionnel et
            personnel du candidat. L’Equipe de Pilotage n’est pas tenue de communiquer les motifs de sa décision de retenir ou
            d’écarter le dossier de candidature du Candidat. Les décisions de l’Equipe de Pilotage sont par ailleurs insusceptibles
            de recours.

            La liste des Candidats sélectionnés sera publiée au plus tard le 15 novembre 2016 par 35 RUE DAMIETTE sur son site
            internet, accessible à l’adresse suivante : <a href="http://www.35ruedamiette.com" target="_blank">http://www.35ruedamiette.com</a>

            <h4>3.2 : Journée d’intégration des Candidats sélectionnés :</h4>

            Les Candidats sélectionnés, au nombre maximum de 35, seront invités par 35 RUE DAMIETTE à participer à une journée
            d’intégration qui se tiendra le 21 novembre 2016 à l’ISIPCA, à Versailles. Les frais de transport, de restauration
            et d’hébergement éventuellement engagés par les Candidats pour participer à cette journée d’intégration resteront à
            leur charge exclusive.

            Cette journée d’intégration sera l’occasion pour chaque Candidat :

            De se voir présenter ou, le cas échéant, rappeler par 35 RUE DAMIETTE les modalités pratiques d’organisation du
            Concours CORPO 35, et plus particulièrement le calendrier de son déroulement ainsi que les contraintes de formulation
            devant être respectées par le Candidat durant la phase de recherche et de création de sa formule de parfum originale ;




            De se voir présenter les locaux de l’ISIPCA et plus particulièrement les modalités d’accès et d’utilisation des paillasses
            des laboratoires qu’il pourra utiliser selon un calendrier prédéfini, pour procéder à la recherche et à la création de
            sa formule de parfum originale ;

            De se voir expliquer les modalités d’accès et d’utilisation du logiciel « COPTIS LAB », dont une licence d’utilisation
            lui sera fournie par l’Organisation, afin de lui permettre d’enregistrer sa formule de parfum originale, à la condition
            expresse que le Candidat ait préalablement accepté de signer le guide d’utilisation dudit logiciel, qui lui aura été
            remis par COPTIS à cette occasion ;

            De se voir présenter et remettre par 35 RUE DAMIETTE et ses Partenaires, un orgue à parfum des matières naturelles et
            synthétiques prédéfini, offert par IFF, que le Candidat devra utiliser comme base de création de sa formule de parfum
            originale ;

            De participer au tournage de séquences vidéos et de séances photos réalisées par 35 RUE DAMIETTE et ses Partenaires,
            afin de présenter individuellement et collectivement le profil des Candidats, leurs parcours et les motivations qui
            les ont respectivement amenés à participer au Concours CORPO 35.

            <h4>3.3 : Phase de recherche et de création :</h4>

            A l’issue de cette journée d’intégration les Candidats sélectionnés entreront dans la phase de recherche et de création
            de la formule originale de parfum qu’ils souhaitent soumettre à l’Equipe de Pilotage.

            Chaque Candidat se verra attribuer un accès à l’une des paillasses du Laboratoire de l’ISIPCA à Versailles, pour un
            nombre maximal de 7 journées, selon un calendrier défini d’un commun accord, afin de lui permettre de procéder à la
            recherche et à la validation de sa formule originale de parfum, créée sur la base des essences de l’orgue à parfum
            offert par IFF, des contraintes du  présent Règlement et des dispositions du guide d’utilisation du logiciel
            « COPTIS LAB » qui lui auront préalablement été fournis.

            35 RUE DAMIETTE se réserve la possibilité de procéder à cette occasion à la réalisation de séquences vidéos et de
            séances photos auxquelles le Candidat participera, afin de suivre au jour le jour les différentes étapes de son travail
            de recherche et de création.

            Cette phase de création se déroulera du 22 novembre 2016 au 31 mars 2017 inclus. Les frais de transport, de restauration
            et d’hébergement éventuellement engagés par le Candidat à l’occasion de phase de recherche et de création resteront à
            sa charge exclusive.

            Afin de favoriser l’appréhension de son projet par l’Equipe de Pilotage, le Candidat est invité à communiquer à 35 RUE
            DAMIETTE pour le 5 janvier 2017 au plus tard une première ébauche de présentation du process de recherche et de création
            qu’il entend mettre en œuvre.

            Dans cette même optique, le Candidat s’engage par ailleurs à enregistrer exclusivement sur la plate-forme du logiciel
            « COPTIS LAB », accessible via l’Internet, pour le 25 février 2017 au plus tard, les travaux préparatoires et résultats
            provisoires concrétisant le process de recherche et de création qu’il a mis en œuvre dans le cadre de son projet.

            Le Candidat aura jusqu’au 1er avril 2017 inclus pour enregistrer exclusivement sur la plate-forme du logiciel
            « COPTIS LAB », accessible via l’Internet, la formule définitive de parfum qu’il entend soumettre à l’Equipe
            de Pilotage dans le cadre du Concours CORPO 35, étant précisé que cette formule devra obligatoirement utiliser
            au minimum 50 % des matières premières proposées dans l’orgue à parfum qui aura été préalablement remis au Candidat.
            Le Candidat devra en outre, à cette occasion, communiquer une proposition indicative de nommage libre de droit, pour
            la commercialisation éventuelle du parfum issu de sa formule.

            Le Candidat aura ensuite jusqu’au 15 avril 2017 inclus pour remettre à 35 RUE DAMIETTE le flacon contenant le parfum
            issu de la formule originale qu’il entend soumettre à l’Equipe de Pilotage dans le cadre du Concours CORPO 35.
            La remise de ce flacon devra être accompagnée d’une présentation par le Candidat de son process de recherche et
            de création, sur support original, le cas échéant, et sur support numérique (clé USB, DVD,…) en utilisant le ou les
            moyens de communication de son choix (séquences audio/vidéo, supports dactylographiés, photographies, peinture,
            aquarelle, croquis, dessins, etc…).

            Les délibérations de l’Equipe de Pilotage du Concours CORPO 35 interviendront dans le courant du mois de mai 2017.
            Les 10 Candidat finalistes seront désignés par l’Equipe de Pilotage au plus tard le 31 mai 2017. Chaque membre de
            l’Equipe de Pilotage disposera d’une voix. Les dix Candidats ayant recueilli le plus grand nombre de suffrages seront
            désignés « Candidats finalistes » par 35 RUE DAMIETTE. L’Equipe de Pilotage n’est pas tenue de communiquer les motifs
            de sa décision. Les décisions de l’Equipe de Pilotage sont par ailleurs insusceptibles de recours.

            La liste des 10 Candidats finaliste sera publiée au plus tard le 31 mai 2017 par 35 RUE DAMIETTE sur son site internet,
            accessible à l’adresse suivante : http://www.35ruedamiette.com

            Les résultats issus du travail de recherche de création du Candidat seront automatiquement écartés par l’Equipe de
            Pilotage :

            Si le Candidat a enregistré les travaux préparatoires et résultats provisoires concrétisant le process de recherche
            et de création qu’il a mis en œuvre dans le cadre de son projet sur la plate-forme du logiciel COPTIS LAB après la date butoir du 25 février 2017 ;

            Si le Candidat a enregistré sa formule définitive de parfum sur la plate-forme du logiciel COPTIS LAB après la date
            butoir du 1er avril 2017 ;

            Si le Candidat a remis à 35 RUE DAMIETTE le flacon contenant le parfum issu de sa formule originale ainsi que la
            présentation de son process de recherche et de création après la date butoir du 15 avril 2017 ;

            si les résultats issus du travail de recherche et de création du Candidat ne sont pas conformes aux dispositions du
            présent Règlement.

            <h4>3.4 : Finale – Désignation des lauréats :</h4>

            Les Lauréats du Concours CORPO 35 seront désignés en juin 2017 sur la base d’une évaluation du résultat de leurs travaux.

            Chaque membre de l’Equipe de Pilotage disposera d’une voix. Les trois Candidats ayant recueilli le plus grand nombre
            de suffrages seront désignés par 35 RUE DAMIETTE « Lauréats des professionnels ». L’Equipe de Pilotage n’est pas tenue
            de communiquer les motifs de sa décision. Les décisions de l’Equipe de Pilotage sont par ailleurs insusceptibles de recours.

            35 RUE DAMIETTE se réserve la possibilité d’organiser, à l’occasion de la remise des trophées aux Lauréats, des
            projections de séquences vidéos tournées durant le déroulement du Concours CORPO 35, afin de présenter chacun des Candidats
            Lauréats et de valoriser leur image, tant auprès du grand public que des professionnels du secteur de la parfumerie.
            Cette campagne de communication, retraçant le profil, le parcours et la personnalité des Lauréat, sera relayée sur les
            sites Internet de 35 RUE DAMIETTE et de ses Partenaires, ainsi que sur les réseaux sociaux (Facebook, Twitter, etc.).

            <h4>3.5 : Prix - récompenses :</h4>

            Chacun des Candidats désignés par l’Equipe de Pilotage à l’issue de la phase de sélection sur dossier, telle que décrite
            à l’article 3.1, se verra remettre au début de la phase de recherche et de création visée à l’article 3.2 un orgue à
            parfum fourni par l’un des Partenaires de 35 RUE DAMIETTE. Chacun des Candidat conservera cette dotation à l’issue du
            Concours CORPO 35.

            En outre, la liste des Candidats sélectionnés sera publiée dans la version électronique du magazine « AU PARFUM »,
            Partenaire du Concours CORPO 35. Un portrait de chacun des Candidats pourra également être publié dans ce même magazine,
            en fonction des disponibilités éditoriales.

            Les 10 Candidat finalistes feront l’objet d’une présentation individuelle de leur profil, de leur parcours et de leurs
            motivations dans la version électronique du magazine « AU PARFUM ».

            La société ECOMUNDO, Partenaire du Concours CORPO 35, réalisera les Dossiers Informations Produits concernant les
            formules de parfums originales du Concours CORPO 35 enregistraient sur le logiciel « COPTIS LAB » par les 10 Candidats
            finalistes, qui se verront individuellement remettre un exemplaire du Dossiers Informations Produits relatif à leur formule.




            35 RUE DAMIETTE fera enfin ses meilleurs efforts, avec l’aide des Partenaires du Concours CORPO 35, pour assurer la
            fabrication et la commercialisation, auprès de ses clients et/ou réseaux distributeurs, des parfums issus des formules
            originale des trois « Lauréats des professionnels » et, le cas échéant, si les conditions matérielles d’organisation du
            Concours CORPO 35 le permettent, du parfum issu de la formule originale du « Lauréat du grand public ».

            Le cas échéant, chacun des parfums ainsi commercialisé sera associé, dans le cadre de toute publicité concernant sa
            promotion et/ou sa distribution, aux prénom(s) et nom(s) du Candidat à l’origine de la création de sa formule, en
            mentionnant sa qualité de « Lauréat du Concours CORPO 35 ».
            </p>
        </div>
        <div class="row title">
            <h3>ARTICLE 4 – Engagement du Candidat</h3>
        </div>
        <div class="row text">
            <p>
            <h4>4.1 : Comportement du Candidat :</h4>

            Dans le cadre de sa participation au Concours CORPO 35 et à l’issue de celui-ci, le Candidat s’engage à ne rien faire qui
            soit de nature à nuire à l’image de 35 RUE DAMIETTE et/ou de ses Partenaires.

            Le Candidat s’engage à adopter, pendant tout le déroulement du Concours CORPO 35, un comportement loyal, respectueux et
            diligent, en se conformant notamment de manière stricte au présent Règlement ainsi qu’aux consignes d’accès et de sécurité
            qui lui seront communiquées par 35 RUE DAMIETTE et/ou ses Partenaires, dans le cadre de l’utilisation de l’orgue à parfum
            qui lui sera remis, des paillasses du Laboratoire de l’ISIPCA ou de l’accès au logiciel « COPTIS LAB ».

            Les termes « CORPO 35 », déposés à titre de marque française auprès de l’INPI, ne sauraient être utilisés par le Candidat
            sur quelque support de communication que ce soit sans l’accord écrit préalable de 35 RUE DAMIETTE.

            Le Candidat s’engage à s’assurer, préalablement à la présentation de ses travaux à l’Equipe de Pilotage, que lesdits travaux
            ainsi réalisés par lui dans le cadre du présent Concours CORPO 35 sont originaux et libres de droits. Il garantit à première
            demande 35 RUE DAMIETTE contre toute action, réclamation, revendication ou opposition émanant de toute personne prétendant
            que lesdits travaux portent atteinte à ses droits.

            <h4>4.2 : Propriété intellectuelle :</h4>

            En signant le présent Règlement et en participant au Concours CORPO 35 organisé par 35 RUE DAMIETTE, le Candidat accepte
            de céder à 35 RUE DAMIETTE l’ensemble des droits de propriété intellectuelle attachés aux travaux (formule de parfum,
            séquences audio et/ou vidéo, dessins, logos, représentations graphiques, photos, textes, herbiers, etc…) qu’il sera amené
            à réaliser dans ce cadre et à présenter à l’Equipe de Pilotage.


            Cette cession porte notamment sur :

            tous les droits d’exploitation, de reproduction (sur tout support actuel ou futur, connu ou inconnu), de modification,
            d’adaptation, de représentation (sous tous procédés), de commercialisation et d’usage, de la manière la plus large, dans
            le monde entier et pour la durée de protection attachée aux droits de propriété intellectuelle selon le droit français ;

            ainsi que le droit de protéger ou de faire protéger à son profit tout ou partie de ces travaux, que ce soit par des demandes
            de brevet, des dépôts de marque, de dessins et modèles ou par tout autre moyen.

            Compte-tenu des récompenses attribuées aux Candidats telles que visées à l’article 3.5, il est entendu que les droits cédés
            au titre des présentes n’ouvrent pas droit à une contrepartie financière pour le Candidat.

            <h4>4.3 : Exploitation de la formule de parfum originale du Candidat :</h4>

            En signant le présent Règlement et en participant au Concours CORPO 35 organisé par 35 RUE DAMIETTE, le Candidat accepte
            de céder à 35 RUE DAMIETTE l’ensemble des droits dont il dispose sur la formule définitive de parfum qu’il entend soumettre
            à l’Equipe de Pilotage dans le cadre du Concours CORPO 35, telle qu’elle sera enregistrée sur la plateforme du logiciel
            « COPTIS LAB » dont un accès sera mis à sa disposition.

            A ce titre, le Candidat s’interdit d’exploiter lui-même ladite formule (sauf pour les besoins de sa participation
            au Concours CORPO 35) et/ou de la divulguer à quelque tiers que ce soit, tant pendant le déroulement du Concours CORPO
            35 que pendant les dix années qui suivront la proclamation des résultats de celui-ci.

            Le Candidat autorise expressément 35 RUE DAMIETTE à fabriquer, faire fabriquer et/ou commercialiser des parfums utilisant
            ladite formule, sous quelque forme et sous quelque marque que ce soit, sous réserve que ledit parfum soit associé, dans
            le cadre de toute publicité concernant sa promotion et/ou sa distribution, aux prénom(s) et nom(s) du Candidat, en mentionnant, le cas échéant, sa qualité de « Lauréat du Concours CORPO 35 ». Il pourra également être envisagé d’utiliser la proposition de nommage émise par le Candidat pour le parfum issu de sa formule, celui-ci déclarant d’ores et déjà céder à 35 RUE DAMIETTE l’ensemble des droits de propriété intellectuelle afférents à cette proposition de nommage.

            En contrepartie de cette exclusivité d’exploitation de la formule de parfum du Candidat, 35 RUE DAMIETTE reversera à ce
            dernier une rémunération dont le montant hors taxes sera égal à 15 % (quinze pour cent) du  résultat net comptable réalisée
            par 35 RUE DAMIETTE sur la vente des flacons de parfum utilisant ladite formule.



            A l’issue de chaque année civil, 35 RUE DAMIETTE transmettra au Candidat un récapitulatif des ventes des flacons de
            parfum utilisant ladite formule, réalisées au titre de la période ainsi échue, ainsi que le résultat net comptable
            afférent à ces ventes et le montant de la rémunération qui est due au Candidat à ce titre. Le Candidat devra alors adresser
            à 35 RUE DAMIETTE la facture correspondante, conforme aux dispositions des articles L441-3 et L441-6 du Code de commerce,
            qui sera payable dans les 60 jours suivants sa date d’émission.

            <h4>4.4 : Droit à l’image :</h4>

            Le Candidat accorde à 35 RUE DAMIETTE la permission irrévocable de citer les prénom(s) et nom(s) du Candidat sur tous
            documents ayant pour objet de promouvoir le Concours CORPO 35 et les résultats de celui-ci, et ce quel qu’en soit le support
            et le format.

            Le Candidat accorde également à 35 RUE DAMIETTE la permission irrévocable d’associer ses prénom(s) et nom(s) aux travaux
            qu’il a réalisés dans le cadre du Concours CORPO 35 sur les documents ayant pour objet de promouvoir le Concours CORPO 35
            et les résultats de celui-ci, et ce quel qu’en soit le support  et le format.

            Le Candidat autorise 35 RUE DAMIETTE à utiliser gratuitement ses prénom(s) et nom(s) à des fins commerciales et/ou
            publicitaires, dans toute manifestation promotionnelle liée au présent Concours CORPO 35 sans que cette utilisation
            puisse donner lieu à une quelconque contrepartie autre que le prix gagné.

            Le Candidat autorise 35 RUE DAMIETTE à nommer le parfum commercialisé sur la base de sa formule originale par le prénom
            du Candidat ou par tout autre nom choisi par 35 RUE DAMIETTE.

            En signant le présent Règlement et en participant au Concours CORPO 35 organisé par 35 RUE DAMIETTE, le Candidat accepte
            en outre de céder à 35 RUE DAMIETTE l’ensemble des droits à l’image dont il dispose sur les séquences vidéos et les photos
            le représentant réalisées par 35 RUE DAMIETTE et ses Partenaires dans le cadre du déroulement du Concours CORPO 35, afin  :

            de présenter individuellement et collectivement le profil des Candidats, leurs parcours et les motivations qui les ont
            respectivement amenés à participer au Concours CORPO 35 ;

            de suivre au jour le jour les différentes étapes du travail de recherche de création du Candidat ;

            de suivre la proclamation des résultats du Concours CORPO 35 et la remise des prix aux Candidats Lauréats.




            Ces présentations, dont l’objectif est présenter chacun des Candidats et de valoriser leur image, tant auprès du grand
            public que des professionnels du secteur de la parfumerie, ont notamment vocation à être diffusées sur les sites internet
            respectifs de 35 RUE DAMIETTE et ses Partenaires, ainsi que sur les pages dédiées au Concours CORPO 35 ouvertes par
            35 RUE DAMIETTE sur les réseaux sociaux (Facebook, Twitter, etc.), afin de promouvoir le Concours CORPO 35 et d’en développer
            la notoriété auprès du public. Ces présentations pourront en outre être diffusées à l’occasion de la proclamation des
            résultats du Concours CORPO 35.

            La présente concession de droit à l’image est consentie par le Candidat à 35 RUE DAMIETTE pour le monde entier et pendant
            une durée indéterminée, sans aucune contrepartie financière.

            <h4>4.5 : Informatique et libertés :</h4>

            Pour les besoins de l’organisation du présent Concours CORPO 35, 35 RUE DAMIETTE est amenée à collecter auprès du Candidat
            les informations et les données à caractère personnel (nom, adresse, etc…) nécessaires pour lui permettre d’enregistrer sa
            participation, de l’identifier et de le contacter.

            Les informations communiquées au cours du Concours CORPO 35 feront donc l’objet d’un traitement informatique uniquement
            destiné à l’organisation et/ou la gestion de celui-ci et ne seront pas conservées à son issue.

            La collecte et le traitement des données nominatives ou à caractère personnel susvisées ont fait préalablement l’objet
            d’une déclaration par 35 RUE DAMIETTE auprès de la Commission Nationale de l’Informatique et des Libertés (CNIL).

            Conformément à la Loi n°78-16 du 6 janvier 1978 relative à l’Informatique, aux fichiers et aux libertés, le Candidat dispose
            d'un droit d'accès, de rectification, de modification et de suppression de ses données personnelles, qu’il peut exercer à
            tout moment sur simple demande email à l’adresse : contact@35ruedamiette.com

            Les données collectées sont obligatoires pour participer au Concours CORPO 35. Par conséquent, les Candidats qui exerceront
            le droit de suppression des données les concernant avant la fin du Concours CORPO 35 seront réputés renoncer à leur
            participation.
            </p>
        </div>
        <div class="row title">
            <h3>ARTICLE 5 - Modification, suspension, interruption</h3>
        </div>
        <div class="row text">
            <p>
                La responsabilité de 35 RUE DAMIETTE ne sauraient être engagée en cas de survenance d’un évènement, cas
                fortuit ou de force majeure, venant empêcher l’organisation et où la poursuite du présent Concours CORPO 35.
            </p>
        </div>
        <div class="row title">
            <h3>ARTICLE 6 - Loi applicable et attribution de juridiction</h3>
        </div>
        <div class="row text">
            <p>
                Le Candidat admet sans réserve que le simple fait de participer au Concours CORPO 35 le soumet obligatoirement
                aux lois françaises, notamment pour tout litige qui viendrait à naître du fait du Concours CORPO 35
                ou qui serait directement ou indirectement lié à celui-ci ce, sans préjudice des éventuelles règles de
                conflits de lois  pouvant exister.

                Tout différend né à l’occasion du Concours CORPO 35 fera l’objet d’une tentative de règlement à l’amiable
                entre de 35 RUE DAMIETTE et le Candidat. A défaut d’accord, le litige sera soumis aux juridictions compétentes
                conformément aux dispositions du Code de Procédure Civile.
            </p>
        </div>
    </div>

{% endblock %}