{% extends 'FrontBundle:Default:layout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/revuedepresse.css') }}">
    {% endblock %}

{% block header %}
    {% include 'FrontBundle:Default:header.html.twig' %}
{% endblock %}

{% block content %}
    <div class="container revuedepresse-content">
        <div class="column">
            <div class="row revuedepresse">
                <div class="inner">
                    <div class="views-field">
                        <div class="field-content">
                            <img src="{{ asset('images/parfum-2.jpg') }}" class="image-show">
                        </div>
                    </div>
                    <div class="views-description">
                        <span class="title-content">Parution dans le bimensuel Esprit.</span>
                    </div>
                    <div class="views-source">
                        <div class="source-content">
                            <p>Magazine</p>
                        </div>
                    </div>
                    <div class="views-date">
                        <div class="date-content">16 novembre 2016</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'FrontBundle:Default:footer.html.twig' %}
{% endblock %}